name: Build VM Disk Image

env:
  PACKER_VERSION: '1.12.0'

on:
  push:
    branches: '*'
    tags: 'v*'
  pull_request:
    branches:
      - master

jobs:
  build:
    name: ${{ matrix.version }}, ${{ matrix.architecture.name }}
    runs-on: ubuntu-latest
    container:
      image: alpine:edge
      options: --privileged --device=/dev/kvm
    strategy:
        matrix:
          version:
            - r1beta5

          architecture:
            - name: x86-64
              qemu: x86_64

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install Dependencies
        run: apk add --no-cache qemu-img "qemu-system-${{ matrix.architecture.qemu }}"

      - name: Print QEMU version
        run: '"qemu-system-${{ matrix.architecture.qemu }}" --version'

      - uses: hashicorp/setup-packer@v3
        with:
          version: ${{ env.PACKER_VERSION }}

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      #   with:
      #     limit-access-to-actor: true

      - name: Build Image
        run: |
          PACKER_LOG=1 ./build.sh \
            '${{ matrix.version }}' \
            '${{ matrix.architecture.name }}' \
            -var 'headless=true'

      - name: Extract Version
        id: version
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Extract changelog
        if: startsWith(github.ref, 'refs/tags/v')
        id: extract_changelog
        uses: sean0x42/markdown-extract@v2
        with:
         file: changelog.md
         pattern: '\[${{ steps.version.outputs.version }}\].+'
         no-print-matched-heading: true

      - name: Create Release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          name: Haiku ${{ steps.version.outputs.VERSION }}
          draft: true
          files: output/*
          body: ${{ steps.extract_changelog.outputs.markdown }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
